body {
	color:white;
	font-family:'Courier New', 'Courier', sans serif;
}

.main {
	margin:70px auto;
	display:block;
	position:relative;
	width:550px;

}

label, input {
	float:left;
	clear:both;
	width:100%;
	text-align:center;
	margin-bottom:20px;
	border: 1px solid #FFF;
  background: rgba(0,0,0,0);
color:#FFF;
	font-family:'Courier New', 'Courier', sans serif;
}

.button-wrapper {
	width:100%;
}

img {
	display:block;
	position:relative;
	margin:auto;
}

input {
	height:60px;
}

#mc-embedded-subscribe-form{
	
width:100%;
position:relative;
}
#mc_embed_signup {
	margin-top:40px;
}


#mce-EMAIL {
	color:white;
}

form input[type=text],
form input[type=password],
form input[type=submit] {

}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #FFF;
  background: rgba(0,0,0,0);
  color: #FFF;
  outline: none;
  font-family:'Courier New', 'Courier', sans serif;
}

.button {
    border: 1px solid #FFF;
    background: rgba(0,0,0,0);
    display: block;
	margin:auto;
    height: 60px;
    width: 100%;
	position:relative;
    color: #ffffff;
    text-align: center;
	font-family:'Courier New', 'Courier', sans serif;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;

}

.button:hover {
  background: #FFF;
color:#000;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #136899;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
  color: #FFF;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
:-ms-input-placeholder {
  color: #FFF;
}